{% extends "home/layout.html" %}
{% block css %}
    <style>
        .table td, .table th {
            text-align: center;
            vertical-align: middle;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #fff;
            background-color: #d8534f;
            border-color: #d8534f;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            background-color: #d8534f;
            border-color: #d8534f;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        {#        <div class="panel-heading">用户列表</div>#}
        <div class="panel-heading"><a href="{{ url_for('home.user_list',page=1) }}">用户列表</a> >> 代码提交记录</div>
        <div class="panel-body">
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#m1").addClass("active");
        });
    </script>
{% endblock %}