{% extends "home/layout.html" %}
{% block css %}
    <style>
        .table td, .table th {
            text-align: center;
            vertical-align: middle;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #fff;
            background-color: #d8534f;
            border-color: #d8534f;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            background-color: #d8534f;
            border-color: #d8534f;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        {#        <div class="panel-heading">{{ title|safe }}</div>#}
        {#        <div class="panel-heading"><a href="{{ url_for('home.user_list',page=1) }}">用户列表</a></div>#}
        <div class="panel-heading">用户列表</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>代码提交记录</th>
                </tr>
                </thead>
                {% for row in data_list %}
                    <tr>
                        <td style="vertical-align: middle">{{ row.id }}</td>
                        <td style="vertical-align: middle">{{ row.user }}</td>
                        <td style="vertical-align: middle">{{ row.nickname }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('home.commit_record',id=row['id'],page=1) }}">查看</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- 分页-->
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <!--首页-->
            <li>
                <a href="{{ url_for('home.user_list',page=1) }}" aria-label="Previous">
                    <span aria-hidden="true">首页</span>
                </a>
            </li>
            <!--遍历页码-->
            {% for i in range(1,page_num_count+1) %}
                <!--如果当前页码与遍历的页码相等则高亮显示-->
                {% if page==i %}
                    <li class="active"><a href="{{ url_for('home.user_list',page=i) }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('home.user_list',page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <!--尾页-->
            <li>
                <a href="{{ url_for('home.user_list',page=page_num_count) }}" aria-label="Previous">
                    <span aria-hidden="true">尾页</span>
                </a>
            </li>

            {#            <li>#}
            {#                <a href="#" aria-label="Previous">#}
            {#                    <span aria-hidden="true">&laquo;</span>#}
            {#                </a>#}
            {#            </li>#}
            {#            <li class="active"><a href="#">1</a></li>#}
            {#            <li><a href="#">2</a></li>#}
            {#            <li><a href="#">3</a></li>#}
            {#            <li><a href="#">4</a></li>#}
            {#            <li><a href="#">5</a></li>#}
            {#            <li>#}
            {#                <a href="#" aria-label="Next">#}
            {#                    <span aria-hidden="true">&raquo;</span>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </nav>
    <!--分页-->
    {#    {{ pg.page(page_data,'article_list') }}#}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#m1").addClass("active");
        });
    </script>
{% endblock %}